# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Next.js
.DS_Store
*.pem

# Production
/build

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor specific
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase/
firebase-debug.log
firebase-crashlytics-build.json
database-debug.log
hosting-debug.log
storage-debug.log
firebaserc
firebase.json

# Genkit specific
.genkit/cache/
.genkit/state/
.genkit/log/
genkit.state

# Diffs
*.diff
*.patch

# Mac files
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
